html,
body {
    font-family: 'Exo 2', 'Noto Sans TC', sans-serif;
    font-size: 20px;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url('../photo/backgroundd.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    
}

@media screen and (max-width: 1400px) {

    html,
    body {
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {

    html,
    body {
        font-size: 10px;
    }
}

/* @media screen and (max-width: 768px) {

    html,
    body {
        font-size: 10px;
    }
} */

@media screen and (max-width: 770px) {

    html,
    body {
        font-size: 15px;
    }

    #online-room{
        width: 100% !important;;
    }

    #chat-online-con{
        width: 100% !important;
    }

    #center-con{
        height: 100% !important;
    }

}




/* @media(max-width: 1080px){
    *{
        font-size:60px;
    }
} */





/* chat and online window con */
#allcon2 {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
}

#center-con {
    height: 90%;
    display: flex;
    justify-content: space-between;
}

#chat-online-con {
    width: 70%;
    display: flex;
    box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.842);

}


/* online-window */
#online-room {
    width: 425px;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: .3s;
}

#big-online {
    display:flex;
    justify-content: space-between;
    font-size: 1.3rem;
    background-color: rgb(3, 3, 3);
    padding: 10px 20px;
    color: #ffffff;
}

#myname-con{
    width:80%;
    text-align:center;
    height:1.3rem;
}

#myname-con img{
    border-radius: 999px;
    height: 100%;
    width: 1.3rem;
}

#upload{
    opacity: 0;
    position: absolute;
    width:1.6rem;
    height: 1.3rem;
}
/* #addfd {
    font-size: 1rem;
    padding: 3px 0px;
    background-color: rgb(2, 253, 253);
    border-top: 2px dashed rgb(0, 0, 0);
    border-bottom: 2px dashed rgb(0, 0, 0);
    border-left: 0px;
    border-right: 0px;
} */

#addfdreq-con-con{
    max-height: 50%;
    /* overflow: auto; */
}
#addfdreq-con {
    text-align: center;
    margin:10px;
    border-radius: 10px;
    border: 5px double rgb(0, 0, 0);
    background-color: rgb(0, 238, 255);
}

#confirm-btn-con {
    display:flex;
}

#confirm-btn-yes {
    display: inline-block;
    font-size:1rem;
    width: 50%;
    background-color: rgb(128, 255, 116);
    border-radius: 9999px;
    transition: .2s;
}

#confirm-btn-no {
    display: inline-block;
    font-size:1rem;
    width: 50%;
    background-color: rgb(255, 121, 139);
    border-radius: 9999px;
    transition: .2s;
}

#confirm-btn-yes:hover{
    background-color: rgb(21, 255, 0);
}

#confirm-btn-no:hover{
    background-color: rgb(255, 77, 100);
}

#member-online-con {
    overflow: auto;
    height: 100%;
    background-color: rgb(216, 216, 216);
}

#member-online-block {
    display: flex;
    padding: 5px 5px;
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid rgb(216, 216, 216);
    /* border-style: inherit */
    overflow: auto;
    transition: .5s;
}

#info-con-con{
    margin-left: 5px;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}

#info-con{
    height:1.5rem;
}

#member-online-block img{
    border-radius: 999px;
    height:70px;
    width:70px;
}


.select {
    background-color: rgba(147, 255, 104, 0.5) !important;
}

#member-online-block:hover {
    background-color: rgba(255, 252, 88, 0.5);
}

#member-name {
    font-size: 1.5rem;
    font-weight: bold;
}

#status-on {
    color: green;
    font-size: 1rem;
}

#status-off {
    color: red;
    font-size: 1rem;
}



#last-msg {
    font-size: 0.7rem;
    color: rgb(39, 39, 39);
    word-break: break-all;
}

/* chat-window */
#big-name {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    background-color: white;
    padding: 10px 20px;
    color: #575ed8;
}

#members {
    background-color: white;
    text-align: center;
    color: rgb(3, 90, 3);
}


#mario-chat {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* @media (min-width: 1080px) {
	#mario-chat {
        width:60%;
        font-size:25px;
	}
} */


#chat-window {
    height: 100%;
    overflow: auto;
    background: #6363636e;
    background-image: url('../photo/doge.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
}

/* @media(max-width: 1080px){
    #chat-window{
        height: 1100px;
    }
} */







/* chat font */
#welcomecon {
    box-sizing: border-box;
    text-align: center;
    margin: 40px;
}

#welcome {
    box-sizing: border-box;
    padding: 15px;
    color: rgb(152, 162, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
}

#quitcon {
    box-sizing: border-box;
    text-align: center;
    margin: 40px;
}


#quit {
    box-sizing: border-box;
    padding: 15px;
    color: rgb(252, 119, 119);
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
}

#feedback p {
    color: rgb(82, 82, 82);
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong {
    color: #575ed8;
}

#messagecon {
    margin: 10px 0px;
    word-break: break-all;
    line-height: 30px;
}

#othermessage {
    display: inline-block;
    max-width: 50%;
    background-color: rgb(156, 247, 197);
    border-radius: 30px;
    margin: 0px 10px;
    padding: 10px 20px;
}

#mymessage {
    display: inline-block;
    max-width: 50%;
    border-radius: 30px;
    margin: 0px 10px;
    padding: 10px 20px;
    background-color: rgb(215, 247, 156);
}

#tyingmessage {
    display: inline-block;
    max-width: 50%;
    color:white;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    margin: 0px 10px;
    padding: 10px 20px;
}

label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

#message {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
}



/* message button*/
#con {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}


#handle {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    background: #fff;
    border-bottom: 1px solid #eee;
}

#join {
    width: 40%;
    box-sizing: border-box;
    background: #2b2b2b;
    color: #fff;
    padding: 12px 20px;
    border-radius: 0 0 2px 2px;
}

#send {
    width: 40%;
    box-sizing: border-box;
    background: #2b2b2b;
    color: #fff;
    padding: 12px 20px;
    border-radius: 0 0 2px 2px;
}