html,
body {
    font-family: 'Exo 2', 'Noto Sans TC', sans-serif;
    font-size: 30px;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url('../photo/backgroundd.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
}
@media screen and (max-width: 430px) {

    html,
    body {
        font-size: 20px;
    }

    #allcon1 {
        width: 70% !important;
    }

}


/* login page */
#allcon1 {
    margin: 0 auto;
    width: 400px;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
}

#allcon1 input {
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}




/* @media (min-width: 1080px) {
	#allcon1 input {
        font-size:25px;
	}
} */

#allcon1 button {
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    background: #2b2b2b;
    color: #fff;
    padding: 20px;
    border-radius: 0 0 2px 2px;
    transition: .3s;
}

#allcon1 #googleac {
    background-color: rgb(128, 24, 24) !important;
}

#allcon1 #googleac:hover {
    background-color: rgb(92, 19, 19) !important;
}

#allcon1 button:hover {
    background-color: rgb(0, 117, 117);
}